#header {
	font-size: $smallSize;
	position: fixed;
	z-index: $headerZIndex;
	min-height: 64px;
	padding: 0 40px;
	width: 100%;
	box-sizing: border-box;
	@include boxShadow(0, 1px, 3px, 0px, rgba(0, 0, 0, 0.11));
	min-width: $minWidth;

	.inner {
		max-width: 100%;

		h1 {
			float: left;
			.logo {
				display: block;
				height: 30px;
				width: 110px;
			}
		}

		> ul {
			float: right;
			padding-top: 24px;

			> li {
				display: inline-block;
				margin-left: 15px;

				> a {
					color: $darkerBlue;

					span[class*="icon-"], &.icon-header_account:before {
						font-size: 11px;
						margin-right: 7px;
						position: relative;
					}
				}
				.queue_count {
					background-color: $slightDarkerGrey;
					font-size: $xsmallSize;
					min-width: 20px;
					text-align: center;
				}

				&:last-child {
					a span[class*="icon-"] {
						font-size: 13px;
					}
				}
			}
		}
	}

/*	.hover_flyout {
		&:hover .flyout {
			display: block !important;
			@extend .animate_fadein;
		}
	}*/

	.flyout {
		left: -20px;
	}

	.queue_flyout, .user_flyout {
		width: 165px;
	}
}

#headerSearchForm {
	min-height: 40px;
	top: 12px;
	margin-left: 40px;

	input {
		-webkit-appearance: none;
		font-size: $smallSize;
		&[type="text"] {
			position: relative;
			border: 1px solid $borderColor;
		}
	}

	

	button {
		border-radius: 0 5px 5px 0;
		position: absolute;
		top: 0;
		padding: 6px 15px;
	}

	button.query-expansion {
		border: none;
		border-radius: 0;
		position: absolute;
		top: 6px;
		padding: 6px 15px;
		right: -90px;
		background: transparent;

		span.fa {
			opacity: 0.6;
		}
	}

	fieldset:hover {
		.icon-x, .icon-heart_filled {
			display: block;
		}
	}

	.search_fieldset {
		input {
			border-right: none;
		}
	}

	.location_fieldset {
		input {
			border-radius: 0;
		}
	}

	label {
		left: 0;
		top: 0;
		&:before {
			top: 12px;
			width: 36px;
		}

	}

	.icon-x, .icon-heart_filled {
		display: none;
		outline: none;
		position: absolute;
		z-index: 5;
		cursor: pointer;
		color: #d3d7d8;
		right: 10px;
		top: 13px;
		font-size: $smallestSize;
	}

	.icon-heart_filled {
		right: 30px;
	}

	.location_wrap .input_field {
		padding-left: 120px;

		+ .suggest-container + label:before {
			left: 90px;
		}

		&:focus {
			+ .suggest-container + label + a + a {
				color: $black;
			}
		}
	}

	.select_wrap {
		position: absolute;
		left: 5px;
		top: 5px;
		z-index: 2;

		.select2-container {
			.select2-choice {
				font-size: $smallestSize;
				padding: 5px 10px;
				height: 30px;
				width: 90px;

				&:before {
					right: 10px;
					font-size: 6px;
				}

				> .select2-chosen {
					overflow: visible;
				}
			}
		}
	}

	#expandedSelected {
		-webkit-appearance: none;
	}

	#expandedSelected + label.enable-equery-expansion-label
	{
		position: absolute;
		left: 6px;
		top: 13px;
		background:url(../img/toggle-off.svg) no-repeat;
		background-size:100%;
		height: 18px;
		width: 25px;
		display:inline-block;
		padding: 0 0 0 0px;
		z-index: 1000;
	}
	#expandedSelected:checked + label.enable-equery-expansion-label
	{
		position: absolute;
		left: 6px;
		top: 13px;
		background:url(../img/toggle-on.svg) no-repeat;
		background-size:100%;
		height: 18px;
		width: 25px;
		display:inline-block;
		padding: 0 0 0 0px;
		z-index: 1000;
	}

	.query_expansion_wrapper {
		vertical-align: middle;
		white-space: nowrap;

		input[type=checkbox] {
			-webkit-appearance: checkbox;
			position: initial;
			height: auto;
			-ms-transform: scale(1.3); /* IE */
			-moz-transform: scale(1.3); /* FF */
			-webkit-transform: scale(1.3); /* Safari and Chrome */
			-o-transform: scale(1.3); /* Opera */
			padding: 10px;
			margin-left: 6px;
			margin-right: 12px;
		}
		

		label {
			padding-right: 4px;
			height: auto;
			position: initial;
			font-size: $smallestSize;
			font-weight: normal;
			text-align: right;
		}
		label.pull-right {
			float: right;
		}
		label.pull-left {
			float: left;
		}
		input.negative_query {
			font-size: $smallestSize;
			padding: 4px;
			height: 21px;
			border-radius: 3px;
			width: 225px;
			margin-bottom: 4px;
			top: -2px;
		}
	}

	.default {
		height:0px; 
		opacity: 0;
		overflow: hidden;
		-moz-transition: 0.25s;
		-ms-transition: 0.25s;
		-o-transition: 0.25s;
		-webkit-transition: 0.25s;
		transition: 0.25s;
	}

	.rollup{
		padding: 4px;
		height:42px;
		opacity: 1;
		overflow: hidden;
		-moz-transition: 0.25s;
		-ms-transition: 0.25s;
		-o-transition: 0.25s;
		-webkit-transition: 0.25s;
		transition: 0.25s;
	}

	.radio-label::before{
  		left: 0;
  		border: 1px solid #e6e6e6;
  		box-shadow: inset 1px 1px rgba(0, 0, 0, 0.03);
	}

	.radio-label::after {
  		left: 3px;
  		background: url("img/radio_on.svg") no-repeat center center;
	}
}

